In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[4]").getOrCreate()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder .appName("CSV to RDD") .getOrCreate()

In [ ]:
df1 = spark.read.csv("/content/drive/MyDrive/BDA/E1.csv", header=True, inferSchema=True)

In [ ]:
df1.show()

+---+----+---------+
| ID|NAME|TOT_MARKS|
+---+----+---------+
|  1|   A|       99|
|  2|   B|       98|
|  3|   C|       80|
|  4|   D|       75|
|  5|   E|       93|
+---+----+---------+

In [ ]:
df2 = spark.read.csv("/content/drive/MyDrive/BDA/E2.csv", header=True, inferSchema=True)

In [ ]:
df2.show()

+---+----+---------+
| ID|NAME|TOT_MARKS|
+---+----+---------+
|  6|   F|       87|
|  7|   G|       95|
|  8|   H|       93|
|  9|   I|       78|
| 10|   J|       89|
+---+----+---------+

In [ ]:
df3 = spark.read.csv("/content/drive/MyDrive/BDA/E3.csv", header=True, inferSchema=True)

In [ ]:
df3.show()

+---+----+---------+
| ID|NAME|TOT_MARKS|
+---+----+---------+
| 11|   P|       77|
| 12|   Q|       97|
| 13|   R|       90|
| 14|   S|       81|
| 15|   T|       76|
+---+----+---------+

In [ ]:
df = df1.union(df2).union(df3)
df.show()

+---+----+---------+
| ID|NAME|TOT_MARKS|
+---+----+---------+
|  1|   A|       99|
|  2|   B|       98|
|  3|   C|       80|
|  4|   D|       75|
|  5|   E|       93|
|  6|   F|       87|
|  7|   G|       95|
|  8|   H|       93|
|  9|   I|       78|
| 10|   J|       89|
| 11|   P|       77|
| 12|   Q|       97|
| 13|   R|       90|
| 14|   S|       81|
| 15|   T|       76|
+---+----+---------+

Dataframe creation

In [ ]:
data=[("Arun",19),("Balaji",18),("Harshini",19),("Aiswarya",19),("Deva",18),("Jai",17),("Prakathi",17),("Maha",20),("Preetha",19),("Karthi",20)]
cols=["Name","Age"]

In [ ]:
rdd=spark.sparkContext.parallelize(data)

DF creation using toDF()

In [ ]:
df=rdd.toDF(cols)
df.show()
df.printSchema()

+--------+---+
|    Name|Age|
+--------+---+
|    Arun| 19|
|  Balaji| 18|
|Harshini| 19|
|Aiswarya| 19|
|    Deva| 18|
|     Jai| 17|
|Prakathi| 17|
|    Maha| 20|
| Preetha| 19|
|  Karthi| 20|
+--------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

Using createDataFrame()

In [ ]:
df1=spark.createDataFrame(rdd).toDF(*cols)
df1.show()

+--------+---+
|    Name|Age|
+--------+---+
|    Arun| 19|
|  Balaji| 18|
|Harshini| 19|
|Aiswarya| 19|
|    Deva| 18|
|     Jai| 17|
|Prakathi| 17|
|    Maha| 20|
| Preetha| 19|
|  Karthi| 20|
+--------+---+

Using list

In [ ]:
df3=spark.createDataFrame(data,cols)
df3.show()
df3.select("Age").show()

+--------+---+
|    Name|Age|
+--------+---+
|    Arun| 19|
|  Balaji| 18|
|Harshini| 19|
|Aiswarya| 19|
|    Deva| 18|
|     Jai| 17|
|Prakathi| 17|
|    Maha| 20|
| Preetha| 19|
|  Karthi| 20|
+--------+---+

+---+
|Age|
+---+
| 19|
| 18|
| 19|
| 19|
| 18|
| 17|
| 17|
| 20|
| 19|
| 20|
+---+

Using Data sources

In [ ]:
df4= spark.read.csv("/content/drive/MyDrive/BDA/E1.csv" ,header=True)
df4.show()

+---+----+---------+
| ID|NAME|TOT_MARKS|
+---+----+---------+
|  1|   A|       99|
|  2|   B|       98|
|  3|   C|       80|
|  4|   D|       75|
|  5|   E|       93|
+---+----+---------+

In [ ]:
df4.select("NAME").show()

+----+
|NAME|
+----+
|   A|
|   B|
|   C|
|   D|
|   E|
+----+

DATAFRAME OPERATIONS

In [ ]:
data=[("Arun",19,"AIDS",80),("Balaji",18,"CSE",98),("Harshini",19,"AIDS",95),("Aiswarya",19,"AIML",97),("Deva",18,"ECE",96),("Jai",17,"IT",85),("Prakathi",17,"EEE",89),("Maha",20,"FT",75),("Preetha",19,"MECH",80),("Karthi",20,"CSE",90)]
cols=["Name","Age","Branch","Marks"]
rdd=spark.sparkContext.parallelize(data)
dff=rdd.toDF(cols)
dff.show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|    Arun| 19|  AIDS|   80|
|  Balaji| 18|   CSE|   98|
|Harshini| 19|  AIDS|   95|
|Aiswarya| 19|  AIML|   97|
|    Deva| 18|   ECE|   96|
|     Jai| 17|    IT|   85|
|Prakathi| 17|   EEE|   89|
|    Maha| 20|    FT|   75|
| Preetha| 19|  MECH|   80|
|  Karthi| 20|   CSE|   90|
+--------+---+------+-----+

In [ ]:
dff.select(*cols).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|    Arun| 19|  AIDS|   80|
|  Balaji| 18|   CSE|   98|
|Harshini| 19|  AIDS|   95|
|Aiswarya| 19|  AIML|   97|
|    Deva| 18|   ECE|   96|
|     Jai| 17|    IT|   85|
|Prakathi| 17|   EEE|   89|
|    Maha| 20|    FT|   75|
| Preetha| 19|  MECH|   80|
|  Karthi| 20|   CSE|   90|
+--------+---+------+-----+

In [ ]:
dff.filter(dff.Branch=="CSE").show()

+------+---+------+-----+
|  Name|Age|Branch|Marks|
+------+---+------+-----+
|Balaji| 18|   CSE|   98|
|Karthi| 20|   CSE|   90|
+------+---+------+-----+

In [ ]:
dff.filter(dff.Name.startswith("A")).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|    Arun| 19|  AIDS|   80|
|Aiswarya| 19|  AIML|   97|
+--------+---+------+-----+

In [ ]:
dff.filter(dff.Name.contains("ai")).show()

+----+---+------+-----+
|Name|Age|Branch|Marks|
+----+---+------+-----+
| Jai| 17|    IT|   85|
+----+---+------+-----+

In [ ]:
list=["AIDS","AIML"]
dff.filter(dff.Branch.isin(list)).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|    Arun| 19|  AIDS|   80|
|Harshini| 19|  AIDS|   95|
|Aiswarya| 19|  AIML|   97|
+--------+---+------+-----+

In [ ]:
dff.sort(dff.Name).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|Aiswarya| 19|  AIML|   97|
|    Arun| 19|  AIDS|   80|
|  Balaji| 18|   CSE|   98|
|    Deva| 18|   ECE|   96|
|Harshini| 19|  AIDS|   95|
|     Jai| 17|    IT|   85|
|  Karthi| 20|   CSE|   90|
|    Maha| 20|    FT|   75|
|Prakathi| 17|   EEE|   89|
| Preetha| 19|  MECH|   80|
+--------+---+------+-----+

In [ ]:
dff.sort(dff.Name.desc()).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
| Preetha| 19|  MECH|   80|
|Prakathi| 17|   EEE|   89|
|    Maha| 20|    FT|   75|
|  Karthi| 20|   CSE|   90|
|     Jai| 17|    IT|   85|
|Harshini| 19|  AIDS|   95|
|    Deva| 18|   ECE|   96|
|  Balaji| 18|   CSE|   98|
|    Arun| 19|  AIDS|   80|
|Aiswarya| 19|  AIML|   97|
+--------+---+------+-----+

In [ ]:
dff.sort(dff.Name,dff.Branch).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|Aiswarya| 19|  AIML|   97|
|    Arun| 19|  AIDS|   80|
|  Balaji| 18|   CSE|   98|
|    Deva| 18|   ECE|   96|
|Harshini| 19|  AIDS|   95|
|     Jai| 17|    IT|   85|
|  Karthi| 20|   CSE|   90|
|    Maha| 20|    FT|   75|
|Prakathi| 17|   EEE|   89|
| Preetha| 19|  MECH|   80|
+--------+---+------+-----+

In [ ]:
dff.sort(dff.Branch).show()

+--------+---+------+-----+
|    Name|Age|Branch|Marks|
+--------+---+------+-----+
|Harshini| 19|  AIDS|   95|
|    Arun| 19|  AIDS|   80|
|Aiswarya| 19|  AIML|   97|
|  Karthi| 20|   CSE|   90|
|  Balaji| 18|   CSE|   98|
|    Deva| 18|   ECE|   96|
|Prakathi| 17|   EEE|   89|
|    Maha| 20|    FT|   75|
|     Jai| 17|    IT|   85|
| Preetha| 19|  MECH|   80|
+--------+---+------+-----+

In [ ]:
dff.groupBy(dff.Branch).count().show()

+------+-----+
|Branch|count|
+------+-----+
|    FT|    1|
|  AIML|    1|
|   ECE|    1|
|  AIDS|    2|
|    IT|    1|
|   CSE|    2|
|   EEE|    1|
|  MECH|    1|
+------+-----+

In [ ]:
dff.groupBy(dff.Branch).min().show()

+------+--------+----------+
|Branch|min(Age)|min(Marks)|
+------+--------+----------+
|    FT|      20|        75|
|  AIML|      19|        97|
|   ECE|      18|        96|
|  AIDS|      19|        80|
|    IT|      17|        85|
|   CSE|      18|        90|
|   EEE|      17|        89|
|  MECH|      19|        80|
+------+--------+----------+

Dataframe opertaions from different sources

In [ ]:
dff1= spark.read.csv("/content/drive/MyDrive/BDA/AIDS A.csv" ,header=True)
dff1.show()

+--------+------------+------+-------+---+---+---+
| ROLL NO|        NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+------------+------+-------+---+---+---+
|22ADR003|   AISWARYA |  AIDS|      A| 80| 90| 86|
|22ADR016|       DEVA |  AIDS|      A| 78| 84| 80|
|22ADR034|   HARSHINI |  AIDS|      A| 80| 80| 84|
|22ADR033|HARIPREETHA |  AIDS|      A| 82| 82| 86|
|22ADR015|DEVABRINDHA |  AIDS|      A| 76| 80| 82|
+--------+------------+------+-------+---+---+---+

In [ ]:
dff2= spark.read.csv("/content/drive/MyDrive/BDA/AIDS B.txt",header=True,sep=',' )
dff2.show(truncate=False)

+---------+-----------+-------------+--------------+--------+-------+-----+
|ROLL NO  |    NAME   |       BRANCH|      SECTION |  BDA   | DA    |  IVA|
+---------+-----------+-------------+--------------+--------+-------+-----+
|22ADR002 |   SANJAY  |       AIDS  |          B   |    84  |  90   |   80|
|22ADR084 |  PRAKATHI |     AIDS    |         B    |    80  |  88   |   90|
|22ADR100 |   SAMAIRA |      AIDS   |          B   |     90 |   92  |  94 |
|22ADR005 |  AKIRA    |     AIDS    |          B   |     88 |   86  |  92 |
|22ADR055 |  KISHORE  |     AIDS    |          B   |     75 |  77   |  80 |
+---------+-----------+-------------+--------------+--------+-------+-----+

In [ ]:
dt=[
{
   "ROLL NO":"22ALR073",
   "NAME":"KUMUDHA ",
   "BRANCH":"AIML",
    "SECTION":"A",
   "BDA":88,
   "DA":90,
   "IVA":98
},
{
   "ROLL NO":"22ALR089",
   "NAME":"MADAVAN ",
   "BRANCH":"AIML",
    "SECTION":"A",
   "BDA":80,
   "DA":78,
   "IVA":70
},
{
    "ROLL NO":"22ALR091",
   "NAME":"NANDHINI ",
   "BRANCH":"AIML",
    "SECTION":"A",
   "BDA":89,
   "DA":76,
   "IVA":90
},
{
     "ROLL NO":"22ALR077",
   "NAME":"SATHYA ",
   "BRANCH":"AIML",
    "SECTION":"A",
   "BDA":90,
   "DA":94,
   "IVA":90
},
{
    "ROLL NO":"22ALR097",
   "NAME":"THIRU ",
  "BRANCH":"AIML",
    "SECTION":"A",
   "BDA":78,
   "DA":76,
   "IVA":80
}
]
dff3 = spark.createDataFrame(dt)
dff3 = dff3.select("ROLL NO", "NAME", "BRANCH", "SECTION", "BDA", "DA", "IVA")
dff3.show()

+--------+---------+------+-------+---+---+---+
| ROLL NO|     NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+---------+------+-------+---+---+---+
|22ALR073| KUMUDHA |  AIML|      A| 88| 90| 98|
|22ALR089| MADAVAN |  AIML|      A| 80| 78| 70|
|22ALR091|NANDHINI |  AIML|      A| 89| 76| 90|
|22ALR077|  SATHYA |  AIML|      A| 90| 94| 90|
|22ALR097|   THIRU |  AIML|      A| 78| 76| 80|
+--------+---------+------+-------+---+---+---+

In [ ]:
da=[("22ALR066","ARUN ","AIML","B",80,67,89),("22ALR192","BALA ","AIML","B",89,76,90),("22ALR073","SAM ","AIML","B",88,97,99),("22ALR099","NANDHINI ","AIML","B",90,87,89),("22ALR120","KEERTHI ","AIML","B",88,90,89)]
cols1=["Roll No","Name","Branch","Section","BDA","DA","IVA"]
rdd=spark.sparkContext.parallelize(da)
dff4=rdd.toDF(cols1)
dff4.show()

+--------+---------+------+-------+---+---+---+
| Roll No|     Name|Branch|Section|BDA| DA|IVA|
+--------+---------+------+-------+---+---+---+
|22ALR066|    ARUN |  AIML|      B| 80| 67| 89|
|22ALR192|    BALA |  AIML|      B| 89| 76| 90|
|22ALR073|     SAM |  AIML|      B| 88| 97| 99|
|22ALR099|NANDHINI |  AIML|      B| 90| 87| 89|
|22ALR120| KEERTHI |  AIML|      B| 88| 90| 89|
+--------+---------+------+-------+---+---+---+

In [ ]:
# Union the DataFrames
combined_df = dff1.union(dff2)
combined_df1=dff3.union(dff4)
final_df=combined_df.union(combined_df1)
final_df.show()

+---------+------------+-----------+-------------+--------+-------+-----+
|  ROLL NO|        NAME|     BRANCH|      SECTION|     BDA|     DA|  IVA|
+---------+------------+-----------+-------------+--------+-------+-----+
| 22ADR003|   AISWARYA |       AIDS|            A|      80|     90|   86|
| 22ADR016|       DEVA |       AIDS|            A|      78|     84|   80|
| 22ADR034|   HARSHINI |       AIDS|            A|      80|     80|   84|
| 22ADR033|HARIPREETHA |       AIDS|            A|      82|     82|   86|
| 22ADR015|DEVABRINDHA |       AIDS|            A|      76|     80|   82|
| 22ADR002|     SANJAY |       AIDS|          B  |     84 |    90 |   80|
| 22ADR084|   PRAKATHI |      AIDS |          B  |     80 |    88 |   90|
| 22ADR100|    SAMAIRA |       AIDS|           B |      90|   92  |   94|
|22ADR005 |    AKIRA   |       AIDS|           B |      88|   86  |   92|
|22ADR055 |   KISHORE  |       AIDS|           B |     75 |   77  |   80|
| 22ALR073|    KUMUDHA |       AIML|            A|      88|     90|   98|
| 22ALR089|    MADAVAN |       AIML|            A|      80|     78|   70|
| 22ALR091|   NANDHINI |       AIML|            A|      89|     76|   90|
| 22ALR077|     SATHYA |       AIML|            A|      90|     94|   90|
| 22ALR097|      THIRU |       AIML|            A|      78|     76|   80|
| 22ALR066|       ARUN |       AIML|            B|      80|     67|   89|
| 22ALR192|       BALA |       AIML|            B|      89|     76|   90|
| 22ALR073|        SAM |       AIML|            B|      88|     97|   99|
| 22ALR099|   NANDHINI |       AIML|            B|      90|     87|   89|
| 22ALR120|    KEERTHI |       AIML|            B|      88|     90|   89|
+---------+------------+-----------+-------------+--------+-------+-----+

In [ ]:
final_df.select(*cols1).show()

+---------+------------+-----------+-------------+--------+-------+-----+
|  Roll No|        Name|     Branch|      Section|     BDA|     DA|  IVA|
+---------+------------+-----------+-------------+--------+-------+-----+
| 22ADR003|   AISWARYA |       AIDS|            A|      80|     90|   86|
| 22ADR016|       DEVA |       AIDS|            A|      78|     84|   80|
| 22ADR034|   HARSHINI |       AIDS|            A|      80|     80|   84|
| 22ADR033|HARIPREETHA |       AIDS|            A|      82|     82|   86|
| 22ADR015|DEVABRINDHA |       AIDS|            A|      76|     80|   82|
| 22ADR002|     SANJAY |       AIDS|          B  |     84 |    90 |   80|
| 22ADR084|   PRAKATHI |      AIDS |          B  |     80 |    88 |   90|
| 22ADR100|    SAMAIRA |       AIDS|           B |      90|   92  |   94|
|22ADR005 |    AKIRA   |       AIDS|           B |      88|   86  |   92|
|22ADR055 |   KISHORE  |       AIDS|           B |     75 |   77  |   80|
| 22ALR073|    KUMUDHA |       AIML|            A|      88|     90|   98|
| 22ALR089|    MADAVAN |       AIML|            A|      80|     78|   70|
| 22ALR091|   NANDHINI |       AIML|            A|      89|     76|   90|
| 22ALR077|     SATHYA |       AIML|            A|      90|     94|   90|
| 22ALR097|      THIRU |       AIML|            A|      78|     76|   80|
| 22ALR066|       ARUN |       AIML|            B|      80|     67|   89|
| 22ALR192|       BALA |       AIML|            B|      89|     76|   90|
| 22ALR073|        SAM |       AIML|            B|      88|     97|   99|
| 22ALR099|   NANDHINI |       AIML|            B|      90|     87|   89|
| 22ALR120|    KEERTHI |       AIML|            B|      88|     90|   89|
+---------+------------+-----------+-------------+--------+-------+-----+

In [ ]:
final_df.select("Name","Roll no").show()

+------------+---------+
|        Name|  Roll no|
+------------+---------+
|   AISWARYA | 22ADR003|
|       DEVA | 22ADR016|
|   HARSHINI | 22ADR034|
|HARIPREETHA | 22ADR033|
|DEVABRINDHA | 22ADR015|
|     SANJAY | 22ADR002|
|   PRAKATHI | 22ADR084|
|    SAMAIRA | 22ADR100|
|    AKIRA   |22ADR005 |
|   KISHORE  |22ADR055 |
|    KUMUDHA | 22ALR073|
|    MADAVAN | 22ALR089|
|   NANDHINI | 22ALR091|
|     SATHYA | 22ALR077|
|      THIRU | 22ALR097|
|       ARUN | 22ALR066|
|       BALA | 22ALR192|
|        SAM | 22ALR073|
|   NANDHINI | 22ALR099|
|    KEERTHI | 22ALR120|
+------------+---------+

In [ ]:
final_df.select("Name","Branch").show()

+------------+-----------+
|        Name|     Branch|
+------------+-----------+
|   AISWARYA |       AIDS|
|       DEVA |       AIDS|
|   HARSHINI |       AIDS|
|HARIPREETHA |       AIDS|
|DEVABRINDHA |       AIDS|
|     SANJAY |       AIDS|
|   PRAKATHI |      AIDS |
|    SAMAIRA |       AIDS|
|    AKIRA   |       AIDS|
|   KISHORE  |       AIDS|
|    KUMUDHA |       AIML|
|    MADAVAN |       AIML|
|   NANDHINI |       AIML|
|     SATHYA |       AIML|
|      THIRU |       AIML|
|       ARUN |       AIML|
|       BALA |       AIML|
|        SAM |       AIML|
|   NANDHINI |       AIML|
|    KEERTHI |       AIML|
+------------+-----------+

In [ ]:
final_df.filter(final_df.BRANCH==("AIDS")).show()

+--------+------------+------+-------+---+---+---+
| ROLL NO|        NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+------------+------+-------+---+---+---+
|22ADR003|   AISWARYA |  AIDS|      A| 80| 90| 86|
|22ADR016|       DEVA |  AIDS|      A| 78| 84| 80|
|22ADR034|   HARSHINI |  AIDS|      A| 80| 80| 84|
|22ADR033|HARIPREETHA |  AIDS|      A| 82| 82| 86|
|22ADR015|DEVABRINDHA |  AIDS|      A| 76| 80| 82|
+--------+------------+------+-------+---+---+---+

In [ ]:

final_df.filter(final_df.NAME.contains("AR")).show()

+--------+------------+------+-------+---+---+---+
| ROLL NO|        NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+------------+------+-------+---+---+---+
|22ADR003|   AISWARYA |  AIDS|      A| 80| 90| 86|
|22ADR034|   HARSHINI |  AIDS|      A| 80| 80| 84|
|22ADR033|HARIPREETHA |  AIDS|      A| 82| 82| 86|
|22ALR066|       ARUN |  AIML|      B| 80| 67| 89|
+--------+------------+------+-------+---+---+---+

In [ ]:
list=["AIDS","AIML"]
final_df.filter(final_df.BRANCH.isin(list)).show()

+--------+------------+------+-------+---+---+---+
| ROLL NO|        NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+------------+------+-------+---+---+---+
|22ADR003|   AISWARYA |  AIDS|      A| 80| 90| 86|
|22ADR016|       DEVA |  AIDS|      A| 78| 84| 80|
|22ADR034|   HARSHINI |  AIDS|      A| 80| 80| 84|
|22ADR033|HARIPREETHA |  AIDS|      A| 82| 82| 86|
|22ADR015|DEVABRINDHA |  AIDS|      A| 76| 80| 82|
|22ALR073|    KUMUDHA |  AIML|      A| 88| 90| 98|
|22ALR089|    MADAVAN |  AIML|      A| 80| 78| 70|
|22ALR091|   NANDHINI |  AIML|      A| 89| 76| 90|
|22ALR077|     SATHYA |  AIML|      A| 90| 94| 90|
|22ALR097|      THIRU |  AIML|      A| 78| 76| 80|
|22ALR066|       ARUN |  AIML|      B| 80| 67| 89|
|22ALR192|       BALA |  AIML|      B| 89| 76| 90|
|22ALR073|        SAM |  AIML|      B| 88| 97| 99|
|22ALR099|   NANDHINI |  AIML|      B| 90| 87| 89|
|22ALR120|    KEERTHI |  AIML|      B| 88| 90| 89|
+--------+------------+------+-------+---+---+---+

In [ ]:
final_df.filter(final_df.NAME.startswith("K")).show()

+--------+--------+------+-------+---+---+---+
| ROLL NO|    NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+--------+------+-------+---+---+---+
|22ALR073|KUMUDHA |  AIML|      A| 88| 90| 98|
|22ALR120|KEERTHI |  AIML|      B| 88| 90| 89|
+--------+--------+------+-------+---+---+---+

In [ ]:
from pyspark.sql.functions import trim

# Trim the NAME column to remove spaces and check if it ends with "NI"
final_df.filter(trim(final_df["NAME"]).endswith("M")).show()

+--------+----+------+-------+---+---+---+
| ROLL NO|NAME|BRANCH|SECTION|BDA| DA|IVA|
+--------+----+------+-------+---+---+---+
|22ALR073|SAM |  AIML|      B| 88| 97| 99|
+--------+----+------+-------+---+---+---+

In [ ]:
from pyspark.sql.functions import trim

# Trim the NAME column, then sort and display the DataFrame
final_df.select(trim(final_df["NAME"]).alias("NAME")).sort("NAME").show()

+-----------+
|       NAME|
+-----------+
|   AISWARYA|
|      AKIRA|
|       ARUN|
|       BALA|
|       DEVA|
|DEVABRINDHA|
|HARIPREETHA|
|   HARSHINI|
|    KEERTHI|
|    KISHORE|
|    KUMUDHA|
|    MADAVAN|
|   NANDHINI|
|   NANDHINI|
|   PRAKATHI|
|        SAM|
|    SAMAIRA|
|     SANJAY|
|     SATHYA|
|      THIRU|
+-----------+

In [ ]:

final_df.groupBy(final_df.BRANCH).count().show()

+-----------+-----+
|     BRANCH|count|
+-----------+-----+
|       AIML|   10|
|      AIDS |    1|
|       AIDS|    2|
|       AIDS|    1|
|       AIDS|    5|
|       AIDS|    1|
+-----------+-----+

In [ ]:
from pyspark.sql.functions import min

# Group by BDA and calculate the minimum value of the BDA column
final_df.groupBy("BRANCH").agg(min("BDA")).show()

+-----------+--------+
|     BRANCH|min(BDA)|
+-----------+--------+
|       AIML|      78|
|      AIDS |     80 |
|       AIDS|     75 |
|       AIDS|     84 |
|       AIDS|      76|
|       AIDS|      90|
+-----------+--------+

In [ ]:
from pyspark.sql.functions import max
final_df.groupBy("BRANCH").agg(max("IVA")).show()

+-----------+--------+
|     BRANCH|max(IVA)|
+-----------+--------+
|       AIML|      99|
|      AIDS |      90|
|       AIDS|      92|
|       AIDS|      80|
|       AIDS|      86|
|       AIDS|      94|
+-----------+--------+

In [ ]:
from pyspark.sql.functions import max
final_df.groupBy("BRANCH").agg(max("IVA")).show()

+-----------+--------+
|     BRANCH|max(IVA)|
+-----------+--------+
|       AIML|      99|
|      AIDS |      90|
|       AIDS|      92|
|       AIDS|      80|
|       AIDS|      86|
|       AIDS|      94|
+-----------+--------+

In [ ]:
data = [
    ("22ADR003", "AISWARYA", "AIDS", "A", "80", 90, 86),
    ("22ADR016", "DEVA", "AIDS", "A", "78", 84, 80),
    ("22ADR034", "HARSHINI", "AIDS", "A", "80", 80, 84),
    ("22ADR033", "HARIPREETHA", "AIDS", "A", "82", 82, 86),
    ("22ADR015", "DEVABRINDHA", "AIDS", "A", "76", 80, 82),
    ("22ADR002", "SANJAY", "AIDS", "B", "84", 90, 80),
    ("22ADR084", "PRAKATHI", "AIDS", "B", "80", 88, 90),
    ("22ADR100", "SAMAIRA", "AIDS", "B", "90", 92, 94),
    ("22ADR005", "AKIRA", "AIDS", "B", "88", 86, 92),
    ("22ADR055", "KISHORE", "AIDS", "B", "75", 77, 80),
    ("22ALR073", "KUMUDHA", "AIML", "A", "88", 90, 98),
    ("22ALR089", "MADAVAN", "AIML", "A", "80", 78, 70),
    ("22ALR091", "NANDHINI", "AIML", "A", "89", 76, 90),
    ("22ALR077", "SATHYA", "AIML", "A", "90", 94, 90),
    ("22ALR097", "THIRU", "AIML", "A", "78", 76, 80),
    ("22ALR066", "ARUN", "AIML", "B", "80", 67, 89),
    ("22ALR192", "BALA", "AIML", "B", "89", 76, 90),
    ("22ALR073", "SAM", "AIML", "B", "88", 97, 99),
    ("22ALR099", "NANDHINI", "AIML", "B", "90", 87, 89),
    ("22ALR120", "KEERTHI", "AIML", "B", "88", 90, 89)
]

columns = ["Roll No", "Name", "Branch", "Section", "BDA", "DA", "IVA"]

# Create DataFrame
final_df1 = spark.createDataFrame(data, schema=columns)
final_df1 = final_df1.withColumn("BDA", final_df1["BDA"].cast("double"))

In [ ]:
pivot_df=final_df1.groupBy("Branch").pivot("Section").sum("BDA")
pivot_df.show()

+------+-----+-----+
|Branch|    A|    B|
+------+-----+-----+
|  AIML|425.0|435.0|
|  AIDS|396.0|417.0|
+------+-----+-----+

In [ ]:
a = final_df.select("BRANCH").distinct()
a.show()

+-----------+
|     BRANCH|
+-----------+
|       AIML|
|      AIDS |
|       AIDS|
|       AIDS|
|       AIDS|
|       AIDS|
+-----------+

In [ ]:
final_df.select("NAME").dropDuplicates().show()

+------------+
|        NAME|
+------------+
|   KISHORE  |
|     SANJAY |
|       BALA |
|DEVABRINDHA |
|    SAMAIRA |
|HARIPREETHA |
|    MADAVAN |
|    KUMUDHA |
|    AKIRA   |
|   HARSHINI |
|    KEERTHI |
|        SAM |
|   NANDHINI |
|      THIRU |
|       DEVA |
|       ARUN |
|   AISWARYA |
|   PRAKATHI |
|     SATHYA |
+------------+

In [ ]:
final_df.toPandas()

      ROLL NO          NAME       BRANCH        SECTION  BDA       DA    IVA
0    22ADR003     AISWARYA          AIDS              A   80       90     86
1    22ADR016         DEVA          AIDS              A   78       84     80
2    22ADR034     HARSHINI          AIDS              A   80       80     84
3    22ADR033  HARIPREETHA          AIDS              A   82       82     86
4    22ADR015  DEVABRINDHA          AIDS              A   76       80     82
5    22ADR002       SANJAY          AIDS            B     84      90      80
6    22ADR084     PRAKATHI         AIDS             B     80      88      90
7    22ADR100      SAMAIRA          AIDS             B    90     92       94
8   22ADR005       AKIRA            AIDS             B    88     86       92
9   22ADR055      KISHORE           AIDS             B    75     77       80
10   22ALR073      KUMUDHA          AIML              A   88       90     98
11   22ALR089      MADAVAN          AIML              A   80       78     70
12   22ALR091     NANDHINI          AIML              A   89       76     90
13   22ALR077       SATHYA          AIML              A   90       94     90
14   22ALR097        THIRU          AIML              A   78       76     80
15   22ALR066         ARUN          AIML              B   80       67     89
16   22ALR192         BALA          AIML              B   89       76     90
17   22ALR073          SAM          AIML              B   88       97     99
18   22ALR099     NANDHINI          AIML              B   90       87     89
19   22ALR120      KEERTHI          AIML              B   88       90     89

In [ ]:
+