In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Temperature").getOrCreate()
sc = spark.sparkContext
lines = sc.textFile("/content/weather.csv")
print(lines)

/content/weather.csv MapPartitionsRDD[26] at textFile at NativeMethodAccessorImpl.java:0

In [ ]:
header = lines.first()
print(header)
lines = lines.filter(lambda line: line != header)
print(lines.collect())

DISTRICT,TEMPERATURE ,
['NAMAKKAL,28,', 'KARUR,25,', 'TIRUPUR,31,', 'ERODE,32,', 'CHENNAI,41,', 'TUTICORN,25,', 'VELORE,26,', 'TIRUCHENGODE,42,', 'COIMBATORE,35,', 'MADURAI,32,', 'THENI,14,', 'DINDIGUL,26,', 'TRICHY,29,', 'TIRUVANNAMALAI,27,']

In [ ]:
city_temperature = lines.map(lambda line: line.split(','))
print(city_temperature.collect())

[['NAMAKKAL', '28', ''], ['KARUR', '25', ''], ['TIRUPUR', '31', ''], ['ERODE', '32', ''], ['CHENNAI', '41', ''], ['TUTICORN', '25', ''], ['VELORE', '26', ''], ['TIRUCHENGODE', '42', ''], ['COIMBATORE', '35', ''], ['MADURAI', '32', ''], ['THENI', '14', ''], ['DINDIGUL', '26', ''], ['TRICHY', '29', ''], ['TIRUVANNAMALAI', '27', '']]

In [ ]:
city_temp = city_temperature.map(lambda x: (x[0], x[1]))
print(city_temp.collect())
print(type(city_temp))

[('NAMAKKAL', '28'), ('KARUR', '25'), ('TIRUPUR', '31'), ('ERODE', '32'), ('CHENNAI', '41'), ('TUTICORN', '25'), ('VELORE', '26'), ('TIRUCHENGODE', '42'), ('COIMBATORE', '35'), ('MADURAI', '32'), ('THENI', '14'), ('DINDIGUL', '26'), ('TRICHY', '29'), ('TIRUVANNAMALAI', '27')]
<class 'pyspark.rdd.PipelinedRDD'>

In [ ]:
city_max_temp = city_temperature.map(lambda x: x[1]).max()

print("City with Max Temperature:", city_max_temp)

city_min_temp = city_temperature.map(lambda x: x[1]).min()
print("City with Min Temperature:",city_min_temp)

City with Max Temperature: 42
City with Min Temperature: 14

In [ ]:
''''print("City with Max Temperature:", max_temp_city[0])
print("Temperature:", max_temp_city[1])

print("City with Min Temperature:", min_temp_city[0])
print("Temperature:", min_temp_city[1])'''

sc.stop()